<html>
  <head>
    <style>
      @font-face {
        font-family: "ProximaNova-Regular";
        src: url("https://utilize-app-static-assets.s3.amazonaws.com/fonts/ProximaNova-Regular.ttf")
          format("truetype");
        font-display: swap;
      }

      @font-face {
        font-family: "ProximaNova-Regular";
        src: url("/ProximaNova-Regular.ttf") format("truetype");
      }

      body {
        font-family: "ProximaNova-Regular";
      }

      table,
      td,
      tr,
      th {
        border: 1px solid;
        border-collapse: collapse;
        padding: 20px;
      }

      th {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body style="margin-top: 50px; text-align: center;">
    <h1>Log/Approve</h1>
    <table style="margin: auto;">
      <tr style="background-color: yellow;">
        <th>hash</th>
        <th>date</th>
        <th>message</th>
        <th>body</th>
        <th>author_name</th>
        <th>author_email</th>
        <% if(admin) { %>
        <th>Allow</th>
        <% } %>
      </tr>
      <% log.all.forEach(l => { %>
      <tr <% if (approve.includes(l.hash)) { %>
        style="background-color: lightseagreen" <% } %> >
        <td><%= l.hash %></td>
        <td><%= l.date %></td>
        <td><%= l.message %></td>
        <td><%= l.body %></td>
        <td><%= l.author_name %></td>
        <td><%= l.author_email %></td>
        <% if(admin) { %>
        <td>
          <a href="/approve/<%= l.hash %>">
            <img
              src="https://media.istockphoto.com/vectors/round-green-check-mark-thin-line-icon-button-tick-symbol-on-white-vector-id1141191243"
              height="60px"
              width="60px"
            />
          </a>
        </td>
        <% } %>
      </tr>
      <% }) %>
    </table>
  </body>
</html>
